body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background: var(--tg-theme-bg-color, #ffffff);
    color: var(--tg-theme-text-color, #000000);
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;

    padding: 20px 10px;
}

body, html {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

* {
    color: var(--tg-theme-hint-color, #999999);
}

:root {
    --primary-color: var(--tg-theme-accent-text-color, #db4e23);
    --shimmer-color: var(--tg-theme-secondary-bg-color, #bebebe);
}

hr {
    border: 1px solid var(--tg-theme-secondary-bg-color, #cecece);
}

[shimmer] {
    background: var(--shimmer-color);
    border-radius: 5px;

    color: transparent;
    user-select: none;
}

.loading-spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0,0,0, 0.15);
    border-top-color: var(--tg-theme-button-color, #3390ec);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

.loading-spinner.main {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spin-2 2s cubic-bezier(1,0,.63,1.07) infinite alternate-reverse;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

@keyframes spin-2 {
    from { transform: translate(-50%, -50%); }
    to { transform: translate(-50%, -50%) rotate(1440deg); }
}

pack-name {
    font-size: 24px;
    font-weight: 600;
    color: var(--tg-theme-text-color, #000000);
}

main-content {
    word-break: break-all;
}